
.icon-phone-circled:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */